
<mat-card class="detail" *ngIf="listView"><mat-card-title >Id:</mat-card-title>
  <mat-card-content>{{listView.id}}</mat-card-content> </mat-card>
<mat-card class="detail" *ngIf="listView"><mat-card-title>name:</mat-card-title>
  <mat-card-content>{{listView.name}}</mat-card-content> </mat-card>
<mat-card class="detail" *ngIf="listView"><mat-card-title>username:</mat-card-title>
  <mat-card-content>{{listView.username}}</mat-card-content> </mat-card>
<mat-card class="detail" *ngIf="listView"><mat-card-title>email:</mat-card-title>
  <mat-card-content>{{listView.email}}</mat-card-content> </mat-card>
<mat-card class="detail" *ngIf="listView"><mat-card-title>address:</mat-card-title><mat-card-subtitle>street</mat-card-subtitle>
  <mat-card-content>{{listView.address.street}}</mat-card-content> </mat-card>
<mat-card class="detail" *ngIf="listView"><mat-card-title>address:</mat-card-title><mat-card-subtitle>suite</mat-card-subtitle>
  <mat-card-content>{{listView.address.suite}}</mat-card-content> </mat-card>
<mat-card class="detail" *ngIf="listView"><mat-card-title>address:</mat-card-title><mat-card-subtitle>city</mat-card-subtitle>
  <mat-card-content>{{listView.address.city}}</mat-card-content> </mat-card>
<mat-card class="detail" *ngIf="listView"><mat-card-title>phone:</mat-card-title>
  <mat-card-content>{{listView.phone}}</mat-card-content> </mat-card>
<mat-card class="detail" *ngIf="listView"><mat-card-title>website:</mat-card-title>
  <mat-card-content>{{listView.website}}</mat-card-content> </mat-card>
<mat-card class="detail" *ngIf="listView"><mat-card-title>company:</mat-card-title><mat-card-subtitle>name</mat-card-subtitle>
  <mat-card-content>{{listView.company.name}}</mat-card-content> </mat-card>








