<mat-card>
  <mat-card-title>Update user</mat-card-title>
  <mat-card-content>
<div *ngIf="dataLoadede">

<form [formGroup] = "editUserForm" (submit)="UpdateUser()" class="example-form">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="username" >

  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email" >

  </mat-form-field>
  <button mat-raised-button color="primary">Update User</button>
</form>
</div>
</mat-card-content>
</mat-card>
